@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h2>Summary</h2>
        <p class="lead">This is a Web application designed using dot net framework with c# as the main programming language.</p>
        <p>
            The application is a movie rental store 
            <strong> SCope</strong>
           <ul class="list-group">
               <li class="list-group-item">Track number of movies available for rent</li>
               <li class="list-group-item">Staffs can update movie records(availabilty).</li>
               <li class="list-group-item">Details of customeris kept which include:
               <ul class="list-group">
                   <li class="list-group-item">Number of movies rented</li>
                   <li class="list-group-item">Date rented</li>
                   <li class="list-group-item">Returned date</li>
                   <li class="list-group-item">Name of movie rented.</li>
               </ul>
               </li>
           </ul>
            
            
             
            
            
            
            

        </p>
        <p><a href="linkedin.com/in/oluwatobi-usman-adebanjo" class="btn btn-primary btn-lg">Know more about me &raquo;</a></p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            Being a graduate of Computer Science from Ondo State University of Science and Technology with interest in Software development. During my undergraduate I worked at an IT firm where I tutored Introduction to web development and also worked as Front-end developer.
            I am currently working with C# using dot net framework, with in depth understanding ASP.NET MVC architecture, Entity framework using code first migration.

        </p>
    </div>
    <div class="col-md-4">
        <h2>Open to Oppurtunities?</h2>
        <p>Yes, you can reach me on the contacts below</p>
        <address>
            
            <strong>LinkedIn</strong> <a href="linkedin.com/in/oluwatobi-usman-adebanjo">LinkedIn</a>
        </address>
    </div>
    <div class="col-md-4">
        <h2>Can't login to test the app?</h2>
      <p>Request for login details to test the functionality of the app  oluwatobilobalayeuthman@gmail.com</p>

    </div>
</div>