@model IEnumerable<VideoShop.Models.Movie>

@if (Model.Any()==false)
{
    <p>No movies currently in Db</p>
}
<p>
    @Html.ActionLink("New Movie", "MovieForm","", new {@class="btn btn-primary" })
</p>
<table class=" table table-bordered table-hover">
    <thead>

        <tr>
            <th> Name</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>


    @foreach (var movie in Model)
    {
<tbody>
        <tr>
            <td>
                @Html.ActionLink(movie.Name, "Edit", new { id = movie.Id })

            </td>
            <td>@movie.Genre.Name</td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = movie.Id })
            </td>
        </tr>
</tbody>
    }

</table>
